.aboutContainer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 1em;
        background-color: rgb(228, 210, 210);
        width: 75%;
        height: 85%;
        .headerCard{
            display: flex;
            flex-direction: row;
            .title {
                max-width: 14%;
                p{
                    padding: 20px;
                    background-color: aliceblue;
                    border-radius: 1em;
                    text-align: center;
                    margin: 10px;
                }
            }
            .price{
                border-radius: 1.5em;
                margin-left: 10px;
                display: flex;
                align-items: center;
                text-align: center;
                p{
                    padding: 10px;
                    background-color: aliceblue;
                    border-radius: 1em;
                    text-align: center;
                    margin: 10px;
                    font-size: 16px;
                    max-height: 50%;
                }
            }
            .address{
                border-radius: 1.5em;
                margin-left: 10px;
                display: flex;
                align-items: center;
                text-align: center;
                p{
                    padding: 10px;
                    background-color: aliceblue;
                    border-radius: 1em;
                    text-align: center;
                    margin: 10px;
                    font-size: 16px;
                    max-height: 50%;
                }
            }
            .time{
                border-radius: 1.5em;
                margin-left: 10px;
                display: flex;
                align-items: center;
                text-align: center;
                p{
                    padding: 10px;
                    background-color: aliceblue;
                    border-radius: 1em;
                    text-align: center;
                    margin: 10px;
                    font-size: 16px;
                    max-height: 50%;
                }
            }
            .imgAbout{
                background-color: red;
            }
        }
        .descCard{
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
            background-color: aliceblue;
            padding: 20px;
            .about{
                font-size: 20px;
            }
        }
    }
}

.slideAbout{
    background: url(../images/source-404.jpg);
    background-size: cover;
    min-height: 600px;
    padding: 20px;
}